<p>Lorem ipsum dolor sit amet, pri agam nemore elaboraret ne. Ad harum dolores eam, at duo esse accusata gloriatur, an duo consul inermis. Altera utroque electram eu per. Qui tation audire regione ei. Legimus meliore ea cum, exerci fuisset te vel.</p>

<p>Vel no pertinax mediocritatem, corrumpit repudiare te ius, in primis abhorreant ius. Brute rationibus theophrastus an his. Aperiam democritum mei ei, duo ne amet causae. Sea tritani forensibus ei, vis ut consul omnesque abhorreant. Tollit consulatu ex sed. Eu est movet menandri, ne vis modus cetero persecuti.</p>

<p>Cu novum suscipiantur nec. Repudiandae interpretaris sit ne, no diam tincidunt constituam sit. Ad malis oportere iracundia pro. Clita aeterno efficiantur ne qui, ut mazim perfecto duo, pertinax ullamcorper nec in.</p>

<p><a class="btn btn-block btn-primary btn-outlined" ng-click="goToView(1)">Go To View 1</a></p>

<h4>History Stack</h4>
<p ng-if="history().length==0"><em>no history</em></p>
<ul>
	<li ng-repeat="state in history()">{{state.title}}</li>
</ul>

