<p>A delegate service allows you to access and control a directive. It also allows you to have multiple instances of a component in the same view.</p>

<p>This is a demo of how the <a href="http://ionicframework.com/">Ionic Framework</a> uses delegate services for their directives.</p>

<p>The <code>nav-bar</code> directive can be controlled using the <code>$navBarDelegate</code> service.</p>

<pre ng-bind-html-unsafe>
&lt;nav-bar
  delegate-handle="my-navbar"
  title="My Awesome App"&gt;
&lt;/nav-bar&gt;
</pre>

<p>The delegate service allows us to grab individual instances using the <code>delegate-handle</code>.</p>

<pre ng-bind-html-unsafe>
$navBarDelegate
  .$getByHandle('my-navbar')
    .doSomething();
</pre>

<p><a class="btn btn-block btn-primary btn-outlined" ng-click="goToView(1)">Go To View 1</a></p>

<h4>History Stack</h4>
<p ng-if="history().length==0"><em>no history</em></p>
<ul>
  <li ng-repeat="state in history()">{{state.title}}</li>
</ul>

