<p>You can set the direction of the animation based on whether the user if going forwards/backwards in history.</p>

<p><a class="btn btn-block btn-primary btn-outlined" ng-click="loading()">Then Load things</a></p>

<p><a class="btn btn-block btn-primary btn-outlined" ng-click="nestedNavbar()">or Change the Title of the Nested Navbar</a></p>

<div class="nested-content content content-padded slide-left-right">
  <nav-bar delegate-handle="my-awesome-navbar-two" title="My Awesome Nested View"></nav-bar>
  <div class="content content-padded">
    <p>You can build nested view with their own navbar and histories.</p>
    <p><a class="btn btn-block btn-primary btn-outlined" ng-click="goToView(3)">When to use the delegate pattern?</a></p>
  </div>
</div>

<ng-include src="'partials/history.html'"></ng-include>