<p>We can use <code>$navBarDelegate</code> to call method such as the change of title, picking the direction of animation and showing/hiding the back button.</p>

<p>Alternatively we can get data from the directive, such as the navigation history.</p>

<h4>How Does It Work?</h4>
<p><code>navbar-delegate-service</code> lists all the methods available through the public API. These methods are actually defined in the <code>navbar-controller</code>. The <code>delegateService</code> is a function which maps these methods on to the service, when a handle is registered.</p>

<p><a class="btn btn-block btn-primary btn-outlined" ng-click="goToView(2)">Go To View 2</a></p>

<ng-include src="'partials/history.html'"></ng-include>